.btn-link {
    margin: .5%;
}

.flash-message {
    font-size: .6em;
    color: rgba(91, 87, 87, 0.544);
}

.trail-show-container {
    width: 100%;
}

.info-container {
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.info-container .trail {
    flex: 0 450px;
}

.map {
    flex: 1 1 450px;
    height: 65vh;
}

