.btn-link {
    margin: .5%;
}

.flash-message {
    font-size: .6em;
    display: block;
    color: rgba(91, 87, 87, 0.544);
}

.trail-show-container {
    width: 100%;
}

.trail-show-container .button-container {
    margin-bottom: 1vh;
}

.trail-show-container .button-container > * {
    margin-left: .5%;
    margin-right: .5%;
    margin-top: 0;
    margin-bottom: 0;
}

.info-container {
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.info-container .trail {
    flex: 0 450px;
}

.info-container .trail img {
    max-height: 45vh;
}

.map {
    height: 65vh;
    flex: 1 1 450px;
}

