.trails-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0 10px;
    grid-auto-rows: 10.1px;
    width: 100%;
}

.trails-container img {
    width: 100%;
}

.trail {
    position: relative;
    display: inline-block;
}

.trail img {
    vertical-align: top;
}

.trail-info {
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    font-size: .8em;
}

.trail-info p:first-of-type {
    font-size: 1.1em;
}