.App {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #ffffff21;
  margin-top: 4%;
  padding: 2%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.headline {
  font-family: 'Amatic SC', cursive;
}

.subtext {
  font-family: 'Open Sans Condensed', sans-serif;
}

.marginal {
  margin: 2%;
}

.button-sized {
  font-size: 1.2em;
}

.footer-copyright {
  font-size: 1.1em;
}

.footer-link {
  font-family: 'Teko', sans-serif;
}

