.App {
  text-align: center;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-body {
  background-color: #ffffff21;
  margin-top: 15vh;
  padding: 4vh;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: black;
}

.headline {
  font-family: 'Pangolin', cursive;
}

.subtext {
  font-family: 'Source Sans Pro', sans-serif;
}

.marginal {
  margin: 2%;
}

.button-sized {
  font-size: 1.2em;
}

.footer-copyright {
  font-size: 1.1em;
}

.footer-link {
  font-family: 'Teko', sans-serif;
  height: 100%;
}

